.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.main-footer {
    padding: 5px 15px;
}

.text-dark {
    color: #444;
}

.callout-gray {
    background-color: #EEE;
    border-left: 5px solid #DDD;
}

.callout-gray a {
    color: #333;
}

.callout-gray a:hover {
    color: #444;
}

@media (min-width: 767px) {
    .modal-dialog {
        width: 760px;
    }
}

.notopborder {
    border-top: 0px!important;
}

.whitetext {
    color: #FFF;
}

.dt-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.todo-list {
    min-height: 40px;
}

.no-sort::after {
    display: none!important;
}

.no-sort {
    pointer-events: none!important;
    cursor: default!important;
}

.timeline-item {
    background-color: #fff!important;
    border: 1px solid #f1f1f1!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.timeline-image {
    left: 16px;
    position: absolute;
    top: 0;
}

.chart-legend ul {
    list-style-type: none;
}

.chart-legend li span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-right: 5px;
    border-radius: 50%;
}

.dTsearch {
    position: relative;
    right: -145px;
    top: 1px;
}

.fullboby-bg {
    background: url(../assets/bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fullboby-bg a {
    color: #FFF;
}

.fullboby-bg .login-logo {
    color: #FFF;
}

.roles h4 {
    padding-top: 12px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.dt-buttons {
    margin-left: -15px;
}

.dt-buttons .btn-default {
    background-color: #FFF;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 0px;
}

.fileinput {
    padding-top: 5px;
    padding-bottom: 5px;
}

.datepicker {
    z-index: 9999 !important;
}

td .btn-group {
    display: flex;
}

.label-lite-blue {
    background-color: #FFF;
    color: #0073b7;
    border: 1px solid #0073b7;
}

.label-lite-green {
    background-color: #FFF;
    color: #00a65a;
    border: 1px solid #00a65a;
}

.label-lite-yellow {
    background-color: #FFF;
    color: #f39c12;
    border: 1px solid #f39c12;
}

.label-lite-purple {
    background-color: #FFF;
    color: #605ca8;
    border: 1px solid #605ca8;
}

.label-lite-red {
    background-color: #FFF;
    color: #dd4b39;
    border: 1px solid #dd4b39;
}

.label-lite-gray {
    background-color: #FFF;
    color: #000;
    border: 1px solid #d2d6de;
}

.issues-list .text {
    display: inline!important;
}

.issue-more {
    margin: 5px 5px;
}

/* assets datatable css */
#operations, #operations2, #operations_procurements{
    margin: 0 30px 0 0;
}
.right-side .content-header .pull-right .filter_icon i{
    position: relative;
    top: 5px;
    right: 15px;
    font-size: 2.5rem;
    color:#0073b7;
    object-fit: contain;
    cursor: pointer;
}
#dataTablesFull thead tr td input {
    display: block;
    width: 10rem;
    padding: 3px;
    box-sizing: border-box;
    display: none;
}
#attach_file_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 1.5rem 1.5rem 1.5rem 0;
}
/*Akanksha Goyal changes*/


.menu-bar ul
{
 display:inline-flex;
 list-style:none;
 color:#fff;
 
}
.menu-bar ul li
{
 width:120px;
 margin-top:5px;
 margin-right: 25px;
 

}
.menu-bar ul li a
{
    text-decoration: none;
    color:white;
}


.smallBox0
{
    display:flex;
    box-sizing:border-box;
    width:50%;
    justify-content:center;
    white-space: nowrap;
    padding:0;
    margin:0 0 10px 0;
}
.smallicon.fa fa-briefcase
{
    size:50%;
}
.sub-menu-1
{
    display:none;
    
}


.menu-bar ul li:hover .sub-menu-1
{
    display:flex;
    position:absolute;
    background:#3c8dbc;
    margin-top:0;
    
    
    
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display:block;
    margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width:150px;
    padding:10px;
    border-bottom: 1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;

}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color:grey;
}
