<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><?php _e('Add Asset'); ?></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            
            
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="tag"><?php _e('Asset Tag'); ?> *</label>
                        <input type="text" class="form-control" id="tag" name="tag" value="<?php echo getConfigValue("asset_tag_prefix"); ?><?php echo Asset::nextAssetTag(); ?>" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="statusid"><?php _e('Status'); ?> *</label>
                        <select class="form-control select2 select2-hidden-accessible" id="statusid" name="status" style="width: 100%;" tabindex="-1" aria-hidden="true">
                            <?php foreach ($labels as $label) {
                                echo "<option value='" . $label['id'] . "'>" . $label['name'] . "</option>";
                            } ?>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name"><?php _e('Serial singer'); ?> *</label>
                        <input type="text" class="form-control" id="serial" name="serial" required>
                    </div>
                </div>
                    
               <!--    -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="category"><?php _e('Manufacturer'); ?> *</label>
                        <input type="text" class="form-control" id="Manufacturer" name="Manufacturer" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="category"><?php _e('Assets Type'); ?> *</label>
                        <input type="text" class="form-control" id="type" name="type" required>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label for="category"><?php _e('Asset Model'); ?> *</label>
                        <input type="text" class="form-control" id="model" name="model" required>
                    </div>
                </div>

                <!--    456-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="purchase_date"><?php _e('Purchase Date'); ?></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="purchase_date" name="purchase_date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>  

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="category"><?php _e('Purchase Cost'); ?> *</label>
                        <input type="text" class="form-control" id="cost" name="cost" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="supplier"><?php _e('PO Number'); ?></label>
                        <input type="text" class="form-control" id="PO" name="PO">
                    </div>
                </div>
            </div>
            <div class="row">
 
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="supplier"><?php _e('Invoice Number'); ?></label>
                        <input type="text" class="form-control" id="Invoice" name="Invoice" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="category"><?php _e('category'); ?> *</label>
                        <select class="form-control select2 tag select2-hidden-accessible" id="category" name="category" style="width: 100%;">
                            
                                <option value='SW'>SW</option>
                                <option value='HW'>HW</option>
                        
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="supplier"><?php _e('supplier'); ?></label>
                        <input type="text" class="form-control" id="supplier" name="supplier" required>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="warranty_months"><?php _e('Warranty Period'); ?></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="warranty_months" name="warranty_months">
                            <span class="input-group-addon"><?php _e('months'); ?></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="purchase_date"><?php _e('EOL Date'); ?></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="EOL_date" name="EOL_date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div> 
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="category"><?php _e('Amount'); ?> *</label>
                        <input type="text" class="form-control" id="amount" name="amount" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="purchase_date"><?php _e('Created Date'); ?></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="created_date" name="created_date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div> 

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="purchase_date"><?php _e('RAM'); ?></label>
                        
                            <input type="text" class="form-control" id="RAM" name="RAM">
                            
                        
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="supplier"><?php _e('Purchase Order Number'); ?></label>
                        <input type="text" class="form-control" id="pon" name="pon">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="supplier"><?php _e('Owner Name'); ?></label>
                        <input type="text" class="form-control" id="Owner_name" name="Owner_name">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="supplier"><?php _e('Project Id'); ?></label>
                        <input type="text" class="form-control" id="pid" name="pid">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="supplier"><?php _e('Cost Center '); ?></label>
                        <input type="text" class="form-control" id="cost_center" name="cost_center">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="supplier"><?php _e('Bussiness unit'); ?></label>
                        <input type="text" class="form-control" id="b_unit" name="b_unit">
                    </div>
                </div>
                 
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="location"><?php _e('Location'); ?></label>
                        <select class="form-control select2 tag select2-hidden-accessible" id="location" name="location" style="width: 100%;">
                            <?php foreach ($locations as $location) {
                                echo "<option value='" . $location['name'] . "'>" . $location['name'] . "</option>";
                            } ?>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="supplier"><?php _e('Graphics card'); ?></label>
                        <input type="text" class="form-control" id="Gcard" name="Gcard">
                    </div>
                </div>
                 

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="supplier"><?php _e('HDD'); ?></label>
                        <input type="text" class="form-control" id="HDD" name="HDD">
                    </div>
                </div>

        
            </div>
       
            
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="notes"><?php _e('Notes'); ?></label>
                <textarea class="form-control summernoteLarge" id="description" name="notes"></textarea>
            </div>
        </div>
    </div>

    <input type="hidden" name="action" value="addAsset">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="section" value="<?php echo $_GET['section']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal"><i class="fa fa-times"></i> <?php _e('Cancel'); ?></button>
    <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-check"></i> <?php _e('Create'); ?></button>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.summernote-modal').summernote({
            height: 200
        });
        $('.bootstrap-slider').bootstrapSlider();
    });
    $('.summernoteLarge').summernote({
        height: 200,
        maximumImageFileSize: 524288,
        dialogsInBody: true,
        disableDragAndDrop: true
    });

    $(function() {
        $(".select2").select2();
        $('#purchase_date').datepicker({
            format: '<?php echo jsFormat(); ?>',
            clearBtn: 'true',
            weekStart: '<?php echo getConfigValue("week_start"); ?>',
            autoclose: true
        });
        $('#created_date').datepicker({
            format: '<?php echo jsFormat(); ?>',
            clearBtn: 'true',
            weekStart: '<?php echo getConfigValue("week_start"); ?>',
            autoclose: true
        });
        $('#EOL_date').datepicker({
            format: '<?php echo jsFormat(); ?>',
            clearBtn: 'true',
            weekStart: '<?php echo getConfigValue("week_start"); ?>',
            autoclose: true
        });
    });
</script>